<?xml version="1.0" ?>
<!--
/**
 * Copyright © Hibrido. All rights reserved.
 * https://www.hibrido.com.br/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="h_reservation" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="80">
            <label>Reservations</label>
            <tab>catalog</tab>
            <resource>Heliton_ReservationAdminGrid::general</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="order_statuses" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Final Order Statuses</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <comment>Final status list, to validate if the reservation is wrong</comment>
                </field>
            </group>
        </section>
    </system>
</config>

